{:paths ["src/main/clojure"]
 :deps
 {org.clojure/tools.deps.alpha {:mvn/version "0.8.661"}
  org.clojure/tools.cli {:mvn/version "1.0.194"}
  dorothy/dorothy {:mvn/version "0.0.7"}
  org.slf4j/slf4j-nop {:mvn/version "1.7.25"}}
}
