{:paths ["src/main/clojure"]
 :deps
 {org.clojure/tools.deps {:mvn/version "0.16.1264"}
  org.clojure/tools.cli {:mvn/version "1.0.214"}
  dorothy/dorothy {:mvn/version "0.0.7"}
  org.slf4j/slf4j-nop {:mvn/version "1.7.32"}}

 :tools/usage {:ns-default clojure.tools.deps.graph}
}
